* {
  box-sizing: border-box;
}

html {
  word-break: keep-all;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

body {
  background-color: #000;
  color: #d9d9d9;
  margin: 0;
}

section {
  max-width: 1120px;
  width: 100%;
  margin: 80px auto;
  padding: 0 36px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 40px 0;
}

/* top section */
.top {
  display: flex;
  gap: 48px;
}

.top .slogan {
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.featured-thumb {
  border-radius: 24px;
}

.featured-tag {
  width: fit-content;
  background-color: #18181b;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #565662;
}

.featured-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #d9d9d9;
  margin: 0;
}

.featured-description {
  margin: 0;
  color: #868686;
}

/* playlist section */
.play-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.playlist-thumb {
  width: 100%;
  border-radius: 16px;
}

.playlist-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 16px 0 8px;
}

.playlist-artist {
  color: #868686;
  margin: 0;
}

/* reccommend-artist section */
.artists {
  display: flex;
  gap: 24px;
}

.artist {
  width: 120px;
  text-align: center;
  border-radius: 50%;
}

.artist-profile {
  width: 100%;
  border-radius: 50%;
}

.artist-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 24px 0 0;
}

/* feeling section */
.stations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.station {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 16px;
}

/* top-100 section */
.charts-header {
  position: relative;
  margin: 32px 0;
}

.charts-title {
  margin: 0;
}

.charts-see-all {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #d9d9d9;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chart {
  display: flex;
  gap: 24px;
  align-items: center;  
  width: 100%;  
}

.chart-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chart-rank {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chart-number {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #1a1a1a;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
}

.chart-change {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

.chart-change.up {
  color: #d93045;
}

.chart-cover {
  width: 160px;
  height: 160px;
  border-radius: 16px;
}

.chart-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.chart-artist {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #868686;
}
